@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --bg-primary: #fff;
    --bg-secondary: #f0f2f5;
    --bg-third: #e4e6eb;
    --bg-forth: #f0f2f5;
    --color-primary: #050505;
    --color-secondary: #65676b;
    --divider: #ced0d4;
    --dark-bg-primary: #18191a;
    --dark-bg-secondary: #242526;
    --dark-bg-third: #3a3b3c;
    --dark-color-primary: #242526;
    --dark-color-secondary: #b0b3b8;
    --blue-color: #1876f2;
    --green-color: #42b72a;
    --light-blue-color: #e7f3ff;
    --border-color: #ccced2;
    --shadow-1: rgba(0, 0, 0, 0.2);
    --shadow-2: rgba(0, 0, 0, 0.1);
    --shadow-3: rgba(0, 0, 0, 0.3);
    --shadow-inset: rgba(255, 255, 255, 0.5);
  }
  

body{
    background-color: #EEEFF4;
}
input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #323aab;
    transition-duration: 600ms;
  }
  .blue_btn {
    border: none;
    outline: none;
    background: var(--blue-color);
    padding: 8.5px 12px;
    border-radius: 7px;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
  }
  .login_wrapper {
    background: var(--bg-secondary);
  }
  
  .login_wrap {
    height: 78vh;
    color: var(--color-primary);
  }
  .login_1 {
    width: 300px;
    margin: 0 auto;
  }
  .login_1 img{
    width: 100px;
  }
  .login_1 span {
    font-size: 20px;
  }
  .login_2 {
    text-align: center;
  }
  .login_2_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: var(--bg-primary);
    box-shadow: 0 1px 2px var(--shadow-1);
    padding: 1rem;
    padding-bottom: 2rem;
    width: 350px;
    height: fit-content;
    margin: 1rem auto;
    user-select: none;
    border-radius: 10px;
  }
  .login_2_wrap button {
    width: 100%;
    height: 50px;
    font-size: 17px;
    font-weight: 700;
  }
  .forgot_password {
    color: var(--blue-color);
    font-size: 14px;
    cursor: pointer;
  }
  .forgot_password:hover {
    text-decoration: underline;
  }
  .sign_splitter {
    width: 100%;
    height: 1px;
    background: var(--bg-third);
  }
  .open_signup {
    background: var(--green-color);
    width: 70% !important;
    font-weight: 600 !important;
    font-size: 17px !important;
    margin-top: 1rem;
  }
  .sign_extra {
    font-size: 15px;
  }